### Project ###
*.class
HELP.md
target/
.build/
/deployment/release/logs/*
!/deployment/release/README.md
application-debug.properties

### Maven ###
.flattened-pom.xml

### Git ###
*.orig

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
