### Project ###
*.class
HELP.md
target/
.build/
!/deployment/release/README.md
service-core/src/main/resources/application-*.properties

### Maven ###
.flattened-pom.xml

### Git ###
*.orig

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
