### Project ###
*.class
HELP.md
target/
.build/
/deployment/debug/*
!/deployment/debug/README.md

### Maven ###
.flattened-pom.xml

### Git ###
*.orig

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
